.Event-main {
  /* background-image: url('./web\ bg.png'); */
  background-size: 100vw ;
  width: 100%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;

}
.Event-main-Title{
  background-color: #38b2c7d8;
  /* opacity: 50%; */
  margin-bottom: 50px;
  margin-top: 10px;
  padding: 10px;
}
.Event-main-Title p{
  width: fit-content;
  margin: 20px;
  padding: 10px;
  border-style: solid;
  font-size: large;
}
.Event-main-inside{
  /* background-image: url('./web\ bg.png'); */
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.182);
  width: 80%;
  display: flex;
  margin: auto;
  gap: 50px;
}
.Event-main-inside>p{
  display: none;
}
.EventCard-divison-Past ,.EventCard-divison-Future{
  position: relative;
  margin-bottom: 50px;
  padding: 10px;
}
.EventCard-divison-Past::after,.EventCard-divison-Future::after{
  margin-top: 10px;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #38b2c7d8;
  bottom: -25px;
  left: 0;
}
.Event-Cards-Past{
  flex: 3;
}
.Event-Cards-Future{
  flex: 1;
}
.EventCard-Details{
  display: flex;
  border-style: solid;
  border-left-style: none;
  border-color: #38b2c7d8;
  border-width: 1px;
  margin-top: 15px;
  /* align-items: center; */
}
.EventCard-Details-Date{
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}
.EventCard-Details-Button{
  flex: 1;
  background-color: #38b2c7d8;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  padding: 10px;
}
.EventImage img {
  object-fit: cover;
  width: 280px;
}
.EventCard-Past{
  display: flex;
  gap: 20px;
}
.EventCard-Future{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.EventImage{
  /* flex: 1; */
}
.EventCard-Title{
  
}
.EventCard-Title h4{
  color: #38b2c7d8;
  padding: 10px 0;
}


/* Container for the Event Page */
.Event-Page {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #40e0d0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url('./wave-haikei.png'); */
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
.Event-Title{
  flex:1;
}
.Event-Content {
  display: flex;
  flex-wrap: wrap;
  background-color: #f0f0f0; 
  padding: 20px; 
  max-width: 75%; 
  margin: 0 auto;
  border-radius: 20px;
  gap: 20px;
}
.Event-Image{
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
}
.Event-Image img {
  max-width: 350px;
  height: auto;
  object-fit: cover;
}
.Event-Descrip p {
  font-size: 16px;
  line-height: 1.4;
  color: #333333;
  margin-bottom: 10px; 
  text-wrap: wrap;
}

.Event-Descrip p:last-child {
  margin-bottom: 0; /* Remove the margin after the last paragraph */
}


.arrow{
  margin-right: 75%;
  position:relative;
  width:30px;
  height: 30px;
  cursor:pointer;
  transition:0.5s;
  overflow:hidden;
}

.arrow:hover{
/*  animation:borderAni 5s cubic-bezier(0, 0.6, 1, 0.4); */
      border:solid 2px white; 
    border-radius:50%;
}
.arrow:after{
  position:absolute;
  display:block;
  content:"";
  color:white;
  width: 20px;
  height: 15px;
/*   border:solid 1px;  */
  top:-1px;
  border-bottom:solid 2px;
  transform:translatex(4px);
}

.arrow:before{
  position:absolute;
  display:block;
  content:"";
  color:white;
  width: 8px;
  height: 8px;
/*   border:solid 1px;  */
  border-top:solid 2px;
  border-left:solid 2px;
  top:50%;
  left:2px;
  transform-origin:0% 0%;
  transform:rotatez(-45deg);

}
.arrow:hover:before{
 animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.arrow:hover:after{
 animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}


@keyframes aniArrow01 {
  0% {
    transform:rotatez(-45deg) translateY(30px) translateX(30px);
  }
  100% {
    transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
  }
}


@keyframes aniArrow02 {
  0% {
    transform:translateX(45px);
  }
  100% {
    transform:translateX(-44px);
  }
}

@keyframes borderAni{
   0% {
    border:solid 2px white;
  }
  100% {    
    border:solid 2px white; 
    border-radius:50%;
  }
}
.box-1 { 
  background-color: #38b2c7d8; 
}
.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}
.btn-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

@media (max-width:1100px){
  .Event-Page{
    height: 100%;
  }
  .Event-Content{
    flex-direction: column;
  }
}
@media (max-width:1100px){
  .EventCard-Past{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width:900px){
  .Event-main-inside >p{
    display: block;
  }
  .Event-main-inside{
    flex-direction: column-reverse;
  }
  .EventCard-Future{
    flex-direction: row;
    gap: 20px;
  }
  .EventCard-Past{
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .Event-Page{
    height: 100%;
  }
  .Event-Content{
    flex-direction: column;
  }
}
@media (max-width:720px) {
  .EventCard-Future{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .EventCard-Past{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Event-main-inside{
    width: 85%;
  }
  .Event-Content{
    flex-direction: column;
  }
  .Event-Image img {
    width: 100%;
  }
  .Event-Page{
    height: 100%;
  }
}